body {
  background: rgb(98, 95, 95);
}
.input-groups {
  padding: 10px 0px;
}

.input-groups input {
  padding: 5px;
  font-size: 18px;
  outline: none;
  /* border: none; */
  border-radius: 4px;
}
